@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="form-group form-md-line-input">
    <input type="text" name="Name" ng-model="vm.Employee.Name"/>
    Name
    <span class="help-block">Enter Name</span>
</div>

@*<div class="form-group form-md-checkboxes">
    <label>Checkboxes</label>
    <div class="md-checkbox-list">
        <div class="md-checkbox">
            <input type="checkbox" id="checkbox1" class="md-check">
            <label for="checkbox1">
                <span></span>
                <span class="check"></span>
                <span class="box"></span>
                Option 1
            </label>
        </div>

    </div>
</div>*@
