<div ng-show="vm.DisplayDetail">
    <div class="caption font-red-sunglo">
        <i class="fa fa-align-justify font-red-sunglo"></i>
        <span class="caption-subject bold uppercase"> Salary </span>
    </div>
</div>

<div ng-repeat="Salary in vm.Employee.EmployeeSalaries">
    <div class="form-group form-md-line-input">
        <input type="text" name="Name" ng-model="Salary.Amount" class="form-control"/>
        Amount
        <span class="help-block">Enter Salary</span>
    </div>
    <div class="clearfix"></div>
</div>

